body {
    padding: 0;
    margin: 0;
    background-image: url(../imgs/backgroundImg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#mainWrapper {
    position: relative;
    width: 1010px;
    min-height: 700px;
    margin: 40px auto 0 auto;
}

#leftBannerDiv {
    position: relative;
    height: 700px;
    width: 230px;
    margin-right: 40px;
    margin-top: -15px;
    float: left;
}

#linkBanner {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    width: 190px;
    height: 192px;
    background-color: #000;
}

li {
    position: relative;
    top: -375px;
    list-style: none;
    text-align: center;
    margin-left: -40px;
    padding-left: 0;
}

li > h1 > a {
    text-shadow: 3px 3px 6px #333;
    text-decoration: none;
    margin-bottom: -15px;
    padding-bottom: 0;
    font-size: 28px;
    font-family: pacifico, cursive;
    color: #ffffff;
}

li > h4 {
    text-shadow: 3px 3px 6px #333;
    margin-bottom: -10px;
    margin-top: -37px;
    padding-top: 0;
    font-family: pacifico, cursive;
    color: #6fb7f3;
}

#leftBannerDiv > p {
    position: relative;
    top: -305px;
    text-align: center;
    color: #FFFFFF;
    font-family: pacifico, cursive;
    font-size: 19px;
    text-shadow: 2px 2px 10px #333, 0 0 10px #FF0000;
}

li > h1 > a:hover {
    text-shadow: none;
}

#rightEmentaDiv {
    min-height: 500px;
    width: 690px;
    margin-left: 40px;
    background-color: #FFFFFF;
    opacity: 0.9;
    float: left;
    border-radius: 8px;
    border: 1px dashed #000;
    box-shadow: 0 0 0 4px #fff;
    position: relative;
    z-index: 5;
}

#rightEmentaDiv > img {
    position: relative;
    left: -20px;
    top: 15px;
    margin-bottom: -20px;
}

#rightEmentaDiv > h4 {
    font-family: pacifico, cursive;
    color: #fff;
    text-shadow: 3px 3px 6px #333;
    margin-bottom: -30px;
    position: relative;
    top: -32px;
    left: 30px;
}

#rightEmentaDiv > span {
    font-size: 12px;
    color: #6fb7f3;
    font-family: 'Pontano Sans', sans-serif;
    margin-left: 600px;
}

.divEscondida {
    position: relative;
    text-align: left;
    display: none;
}

.divEscondida > table {
    margin-left: 30px;
    width: 100%;
    height: 100%;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
}

th {
    font-family: pacifico, cursive;
    font-size: 18px;
    color: #6fb7f3;
    padding-top: 5px;
    padding-bottom: 5px;
}

h5 {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.clear {
    clear: both;
}

#footerDiv {
    margin-left: 320px;
}

#footerDiv > p {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
}

#footerDiv > p > a {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footerDiv > p > a:hover {
    border-bottom: none;
}

#newsletterDiv {
    background-color: #000;
    opacity: 0.5;
    border-radius: 5px;
    width: 225px;
    height: 40px;
    position: relative;
    left: 460px;
    top: -32px;
}

#newsletter {
    position: relative;
    top: -65px;
    left: 462px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-align: center;
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #6fb7f3;
}

#buttonEnviar {
    position: relative;
    top: -67px;
    left: 467px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    color: #fff;
}

.buttonEncomendar {
    margin-top: 20px;
    margin-left: 0px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 90px;
    height: 20px;
    color: #fff;
}

.btnJuntarEncomenda a {
    
     font-size: 14px;
    font-family: 'Pontano Sans', sans-serif;
    
}

.btnJuntarEncomenda {
    font-size: 14px;
    font-family: 'Pontano Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 33px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 90px;
    height: 20px;
    color: #fff;
}

.btnEncomendaFinal {
    font-size: 14px;
    font-family: 'Pontano Sans', sans-serif;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 80px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 90px;
    height: 20px;
    color: #fff;
}

.buttonFinalEspecialidades {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 90px;
    height: 20px;
    color: #fff;
}

#divEspecialidades {
    position: relative;
    left: 30px;
}

#divEspecialidades th {
    font-family: pacifico, cursive;
    font-size: 18px;
    color: #6fb7f3;
    padding-top: 5px;
    padding-bottom: 5px;
}

#divEspecialidades > table {
    width: 87%;
    height: 100%;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
}

#divEspecialidades > table tr th {
    text-align: left;
}

#divEspecialidades > span {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
    position: relative;
    top: 50px;
}

h4#h4Especialidades {
    font-family: pacifico, cursive;
    color: #fff;
    text-shadow: 3px 3px 6px #333;
    margin-bottom: -30px;
    position: relative;
    top: -32px;
    left: 10px;
}

#footerDivEspecialidades {
    margin-top: -180px;
    margin-left: 320px;
}

#footerDivEspecialidades > p {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
}

#footerDivEspecialidades > p > a {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footerDivEspecialidades > p > a:hover {
    border-bottom: none;
}

th > h5 {
    color: #000;
}

#rightEmentaDiv > #divTaxaBebidas {
    font-size: 12px;
    color: #6fb7f3;
    font-family: 'Pontano Sans', sans-serif;
    margin-left: 600px;
    position: absolute;
    top: 95%;
}

h4#sobremesasH4 {
    left: 18px;
}

#footerDivBebidas {
    margin-top: -180px;
    margin-left: 320px;
}

#footerDivBebidas > p {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
}

#footerDivBebidas > p > a {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footerDivBebidas > p > a:hover {
    border-bottom: none;
}

h4#quemSomosH4 {
    left: 17px;
}

#divContactos {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
    color: #000;
    margin-left: 20px;
}

#divContactos > h4 {
    font-family: pacifico, cursive;
    font-size: 16px;
    color: #6fb7f3;
}

#btnMostrar {
    position: relative;
    left: 300px;
    top: 10px;
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 100px;
    height: 20px;
    color: #fff;
}

#divQuemSomos {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
    color: #000;
    margin-left: 20px;
    margin-right: 10px;
}

#divQuemSomos > h4 {
    font-family: pacifico, cursive;
    font-size: 16px;
    color: #6fb7f3;
}

#direcoes {
    border: 1px black dotted;
    margin-left: 130px;
    height: 280px;
    width: 400px;
}

#footerDivContactos {
    margin-top: -180px;
    margin-left: 320px;
}

#footerDivContactos > p {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
}

#footerDivContactos > p > a {
    font-family: pacifico, cursive;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footerDivContactos > p > a:hover {
    border-bottom: none;
}

#tableEncomendas {}

#formEncomendas h3 {
    text-align: left;
}

#formEncomendas {
    margin-left: 20px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
}

#btnFinal {
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    color: #fff;
}

#btnFinal a {
    
    padding-top: -20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
    
}

#btnMenos {
    
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    
}

#btnMais {
    
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    
}

#btnMenosBeb {
    
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    
}

#btnMaisBeb {
    
    background: rgba(169, 3, 41, 1);
    background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169, 3, 41, 1)), color-stop(44%, rgba(143, 2, 34, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 50%;
    
}