#tableGeral {
    
    margin-left: 350px;
    width: 800px;
    
}

#divTablePratos {
    
    margin-left: 80px;
    margin-top: 35px;
    width: 200px;
    height: 500px;
    overflow-y: scroll;
    float: left;
    
}



#newEditBtn {
    
    margin-left: 355px;
    
}

#newEditDiv {
   
    float: left;
    margin-left: 250px;
    
}

#dropZone {
    
    margin-top: 50px;
    margin-left: 1200px;
    width: 700px;
    height: 300px;
    border: dashed 1px black;
}
